@(player: Player, game: Game, econplayers: List[Player], socialplayers: List[Player])

@main(player) {

<div class="container">

	<div class="text-center">
	<h2>The End</h2>	
	<a href="@routes.Application.restart()">Restart game</a>
	</div>
	
	</br>
    
    
      <div class="well well-small">
    <h4><p>Official Ranking:</p></h4>    
    	<div class="table-responsive">
    	<table class="table table-striped">
 			<thead>
  				<tr>
  	  				<th>#</th>
    				<th>Player</th>	
   				</tr>
   			</thead>
   			<tbody>
    		@for((person,index) <- econplayers.zipWithIndex) {
    			<tr>
    				<td>@(index+1)</td>
    				<td>@person.name</td>
    			</tr>
    		}
    		</tbody>
    	</table>        
    </div>     
    </div>
    
        </br></br>
    
    <div class="well well-small">
    <h4><p>Social Ranking:</p></h4>    
    	<div class="table-responsive">
    	<table class="table table-striped">
 			<thead>
  				<tr>
  	  				<th>#</th>
    				<th>Player</th>	
   				</tr>
   			</thead>
   			<tbody>
    		@for((person,index) <- socialplayers.zipWithIndex) {
    			<tr>
    				<td>@(index+1)</td>
    				<td>@person.name</td>
    			</tr>
    		}
    		</tbody>
    	</table>        
    </div>   
    </div>              
    
    <div class="navbar navbar-inverse navbar-fixed-bottom">      
      <div class="navbar-inner">      
      <div class="container">   
      <div class="text-center"> 
        SocialPrisoners © 2014      
      </div>
      </div>
      </div>
      </div>
}
