body {
    padding: 60px;
}

.navbar-inner
{
   min-height: 40px;
}

.round
{
width: 400px;
clear: right;
float: left;
}

.well-login
{
  width: 400px ;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  vertical-align: middle;
}

/* menu items */

    /* set the background of the menu items to pink and default color to white */

        .navbar .nav > li > a {
          color: #777;
          text-shadow: none;
          background-color: transparent;
        }


    /* set hover and focus to lightblue */
    .navbar .nav > li > a:focus,
    .navbar .nav > li > a:hover {
        background-color: transparent;
      color: white;
    }
        /* set active item to darkgreen */
        .navbar .nav > .active > a,
        .navbar .nav > .active > a:hover,
        .navbar .nav > .active > a:focus {

          background-color: transparent;
          color: white;
        }

    .navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
        background-color: transparent;
    }

    /* set font color and background of the project name (brand) */

    .navbar .brand 
    {
        /*background-color: orange;
        color: navy;*/
        text-shadow: none;
    }

/*html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial;
    color: #3A4244;
}

header {
    padding: 10px 30px;
    background: #CAE7EC;
    font-size: 24px;
}

header a {
    color: #1A1E20;
    text-decoration: none;
}

section {
    padding: 10px 30px;
}

#helloform dd {
    display: inline-block;
}

#helloform dd.info {
    display: none;
}

#helloform dd.error {
    margin-left: 10px;
    font-size: 12px;
    color: #c00;
}

#helloform label {
    font-size: 14px;
}

#helloform dl {
    background: #FAFAFA;
    padding: 10px;
}

#helloform dl.error {
    background: #FBDDE6;
}

#helloform dt {
    display: inline-block;
    width: 160px;
}

.buttons {
    background: #536565;
    padding: 10px;
    margin-top: 30px;
}

.buttons input, .buttons a {
    border: 1px solid #2F3A3A;
    background: #fff;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
}

ul {
    padding-left: 20px;
}
*/

